/* 𝕨𝕨𝕨.𝔹𝕠𝕜𝕠𝕟𝕫𝕚.𝕔𝕠𝕞  𝖞𝖉𝖊𝖓𝖌𝖆 𝕿𝖚𝖛𝖚𝖒𝖇𝖚   ★☆♨♫✈❤
    //  ★   =   début de l'information
    //  ☆   =   fin de l'information
    //  ♨   =   Code de l'information premier letre du fichier et dernier lettre du fichier suivi du numéro du commentaire.
    //  ♫   = connexion css all suivi du nom du fichier 
    //  ✈  = provenence du fichier total /!\... app.php ... /!\ racine du fichier ♨=ap004
    //  ❥ = le fichier ne pas au même emplacement que l'appelant /!\
    //
𝕨𝕨𝕨.𝔹𝕠𝕜𝕠𝕟𝕫𝕚.𝕔𝕠𝕞  𝖞𝖉𝖊𝖓𝖌𝖆 𝕿𝖚𝖛𝖚𝖒𝖇𝖚   ★☆♨♫✈❤  */
body 
{
    font-family: 'Poiret One', cursive;
    margin: 0 ; 
    padding: 0 ; 
}
a:hover 
{
    cursor: pointer ; 
}
@font-face {
    font-family: "couture-bld";
    src: url("font/couture-bld.otf");
  }
  @font-face {
    font-family: "CaviarDreams";
    src: url("font/CaviarDreams.ttf");
  }
  @font-face {
    font-family: "Viyola";
    src: url("font/Viyola.ttf");
  }
  @font-face {
    font-family: "LITTRN__";
    src: url("font/LITTRN__.ttf");
  }
  @font-face {
    font-family: "Pokemon Hollow";
    src: url("font/Pokemon Hollow.ttf");
  }
  .display-flex 
  {
      display: flex;
  }
  .display-block
  {
    display: block;
  }
  .CaviarDreams
  {
        font-family: "CaviarDreams";
  }
  h1 ,h2,h3,h4,h5
  {
        font-family: "couture-bld";
        font-size : 0.8em;
  }
  .p-pokemon
  {
    font-family: "Pokemon Hollow";
  }
    body 
  {
          margin : 0 ; 
          padding : 0 ; 
  }
  .space-around  
    {
        display: flex;
        justify-content: space-around;
    }
    .space-between  
    {
        display: flex;
        justify-content: space-between;
    }
    .space-between-margin-x-15px  
    {
        display: flex;
        justify-content: space-between;
        margin-left:15px;
        margin-right:15px;
    }
    .margin-x-5px 
    {
        margin-left:5px ; 
        margin-right:5px ; 
    }
    .margin-x-10px 
    {
        margin-left:10px ; 
        margin-right:10px ; 
    }
    .margin-x-15px 
    {
        margin-left:15px ; 
        margin-right:15px ; 
    }

    .margin-x-100px 
    {
        margin-left:100px ; 
        margin-right:100px ; 
    }
    .margin-x-200px 
    {
        margin-left:200px ; 
        margin-right:200px ; 
    }
    .margin-x-300px 
    {
        margin-left:300px ; 
        margin-right:300px ; 
    }
    .margin-y-100px 
    {
        margin-top:100px ; 
        margin-bottom:100px ; 
    }
    .margin-y-200px 
    {
        margin-top:200px ; 
        margin-bottom:200px ; 
    }
    .margin-y-300px 
    {
        margin-top:300px ; 
        margin-bottom:300px ; 
    }
    .margin-y-100px 
    {
        margin-top:100px ; 
        margin-bottom:100px ; 
    }
    .margin-y-200px 
    {
        margin-top:200px ; 
        margin-bottom:200px ; 
    }
    .margin-y-300px 
    {
        margin-top:300px ; 
        margin-bottom:300px ; 
    }
    .padding-x-100px 
    {
        padding-left:100px ; 
        padding-right:100px ; 
    }
    .padding-x-200px 
    {
        padding-left:200px ; 
        padding-right:200px ; 
    }
    .padding-x-300px 
    {
        padding-left:300px ; 
        padding-right:300px ; 
    }
    .padding-y-100px 
    {
        padding-top:100px ; 
        padding-bottom:100px ; 
    }
    .padding-y-200px 
    {
        padding-top:200px ; 
        padding-bottom:200px ; 
    }
    .padding-y-300px 
    {
        padding-top:300px ; 
        padding-bottom:300px ; 
    }
    .padding-y-100px 
    {
        padding-top:100px ; 
        padding-bottom:100px ; 
    }
    .padding-y-200px 
    {
        padding-top:200px ; 
        padding-bottom:200px ; 
    }
    .padding-y-300px 
    {
        padding-top:300px ; 
        padding-bottom:300px ; 
    }
    .padding-x-5px 
    {
        padding-left:5px ; 
        padding-right:5px ; 
    }
    .padding-x-10px 
    {
        padding-left:10px ; 
        padding-right:10px ; 
    }
    .padding-x-15px 
    {
        padding-left:15px ; 
        padding-right:15px ; 
    }
    .margin-y-5px 
    {
        margin-top:5px ; 
        margin-bottom:5px ; 
    }
    .margin-y-10px 
    {
        margin-top:10px ; 
        margin-bottom:10px ; 
    }
    .margin-y-15px 
    {
        margin-top:15px ; 
        margin-bottom:15px ; 
    }
    .padding-y-5px 
    {
        padding-top:5px ; 
        padding-bottom:5px ; 
    }
    .padding-y-10px 
    {
        padding-top:10px ; 
        padding-bottom:10px ; 
    }
    .padding-y-15px 
    {
        padding-top:15px ; 
        padding-bottom:15px ; 
    }
    .margin-top-100px 
    {
        margin-top:100px;
    }
    .margin-top-200px 
    {
        margin-top:200px;
    }
    .margin-top-250px 
    {
        margin-top:250px;
    }
    .margin-top-300px 
    {
        margin-top:300px;
    }
    .margin-top-350px 
    {
        margin-top:350px;
    }
    .margin-bottom-100px 
    {
        margin-bottom:100px;
    }
    .margin-bottom-200px 
    {
        margin-bottom:200px;
    }
    .margin-bottom-250px 
    {
        margin-bottom:250px;
    }
    .margin-bottom-300px 
    {
        margin-bottom:300px;
    }
    .margin-bottom-350 
    {
        margin-bottom:350px;
    }
    .padding-top-100px 
    {
        padding-top:100px;
    }
    .padding-top-200px 
    {
        padding-top:200px;
    }
    .padding-top-250px 
    {
        padding-top:250px;
    }
    .padding-top-300px 
    {
        padding-top:300px;
    }
    .padding-top-350px 
    {
        padding-top:350px;
    }
    .padding-bottom-100px 
    {
        padding-bottom:100px;
    }
    .padding-bottom-200px 
    {
        padding-bottom:200px;
    }
    .padding-bottom-250px 
    {
        padding-bottom:250px;
    }
    .padding-bottom-300px 
    {
        padding-bottom:300px;
    }
    .padding-bottom-350px 
    {
        padding-bottom:350px;
    }
    .space-around div 
    {
        margin: 0 ; 
    } 

    .width-image-150px 
    {
        width:150px;
    }
    .width-image-200px 
    {
        width:200px;
    }
    .width-image-250px 
    {
        width:250px;
    }
    .width-image-300px 
    {
        width:300px;
    }
    .width-image-350px
    {
        width:350px;
    }
    .width-image-400px 
    {
        width:400px;
    }
    .width-image-450px 
    {
        width:450px;
    }
    .width-image-500px 
    {
        width:500px;
    }
    .width-10pc
    {
        width: 10%;
    }
    .width-10pc
    {
        width: 10%;
    }
    .width-20pc
    {
        width: 20%;
    }
    .width-30pc
    {
        width: 30%;
    }
    .width-40pc
    {
        width: 40%;
    }
    .width-50pc
    {
        width: 50%;
    }
    .width-60pc
    {
        width: 60%;
    }
    .width-70pc
    {
        width: 70%;
    }
    .width-80pc
    {
        width: 80%;
    }
    .width-90pc
    {
        width: 90%;
    }
    .width-100pc
    {
        width: 100%;
    }
    .height-image-150px 
    {
        height:150px;
    }
    .height-image-200px 
    {
        height:200px;
    }
    .height-image-250px 
    {
        height:250px;
    }
    .height-image-300px 
    {
        height:300px;
    }
    .height-image-350px
    {
        height:350px;
    }
    .height-image-400px 
    {
        height:400px;
    }
    .height-image-450px 
    {
        height:450px;
    }
    .height-image-500px 
    {
        height:500px;
    }
    .height-image-550px 
    {
        height:550px;
    }
    .height-image-600px 
    {
        height:600px;
    }
    .height-image-700px 
    {
        height:700px;
    }
    .height-image-800px 
    {
        height:800px;
    }
    .height-10pc
    {
        height: 10%;
    }
    .height-10pc
    {
        height: 10%;
    }
    .height-20pc
    {
        height: 20%;
    }
    .height-30pc
    {
        height: 30%;
    }
    .height-40pc
    {
        height: 40%;
    }
    .height-50pc
    {
        height: 50%;
    }
    .height-60pc
    {
        height: 60%;
    }
    .height-70pc
    {
        height: 70%;
    }
    .height-80pc
    {
        height: 80%;
    }
    .height-90pc
    {
        height: 90%;
    }
    .height-100pc
    {
        height: 100%;
    }
    .cursor-pointer:hover 
    {
            cursor: pointer;
    } 
        @media all and (max-width: 800px)
    {
                .space-around  
            {
                display: block;   
                text-align: center;              
            }
            .space-between-margin-x-15px  
            {
                display: block;
                text-align: center;
            }
    }